@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #161619;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content {
    margin-top: 60px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

h1,h2 {
    font-family: 'Expletus Sans', cursive;
    font-weight: lighter;
}

h2 {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainTitle {
    font-size: 4em;
}

hr.rounded {
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.exercise {
    width: 60%;
    height: 60px;
    background-color: #fff;
    color: #161619;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    transition: all 0.15s ease-in-out;
}

.exercise:hover {
    height: 100px;
    cursor: pointer;
    background-color: rgb(0, 225, 255);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.20);
    transform: scale(1.05);
    font-size: 1.5em;
    justify-content: flex-start;
    padding-left: 100px;
}

.exercise:hover p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

a{
    text-decoration: none;
    color: #161619;
}

.jsfiddle {
    border: 1px solid #fff;
}