@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #161619;
  color: white;
  font-family: "Roboto", sans-serif;
}

#return {
  position: fixed;
  height: 5vmin;
  width: 5vmin;

  display: grid;
  place-content: center;

  font-weight: bold;
  font-size: 2em;

  top: 10px;
  left: 10px;

  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#return:hover {
  transform: scale(1.25);
  filter: drop-shadow(0px 0px 10px #fff);
}

#return a {
  color: white;
  text-decoration: none;
}

#roblox_head {
  max-width: 250px;
  cursor: pointer;
  margin-bottom: 50px;
}

#roblox_head:hover,
#btn1:hover {
  filter: drop-shadow(0px 0px 10px #fff);
}

#btn1 {
  cursor: pointer;
  margin-left: 40px;
  padding: 20px 60px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#todoContainer {
  height: 85vh;
  width: 70vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 80%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  border-radius: 30px;
}

#todo,
#done,
#todo_items,
#done_items {
  height: 100%;
  width: 100%;
  font-size: 220%;
}

#todo {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #505050;
}
#done {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #505050;
}

#todo_items {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #e8e8e8;
}

#addTaskContainer {
  position: fixed;
  align-self: flex-end;
  font-size: 0.5em;
  color: black;
}

#addTask {
  margin-left: 10px;
  margin-right: 10px;
}

#done_items {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #e8e8e8;
}

ul {
  color: black;
  list-style: square;
}

ul li {
  transition: transform 0.2s ease-in-out;
  padding: 8px;
}

#lista li:hover {
  cursor: pointer;
  background-color: rgb(0, 150, 0);
  color: white;
  list-style: none;
  animation: hover_add 1s cubic-bezier(0.75, 1.41, 0.83, 0.67) infinite;
}

#listaDone li:hover {
  cursor: pointer;
  background-color: rgb(189, 0, 0);
  color: white;
  list-style: none;
  animation: hover_remove 1s cubic-bezier(0.75, 1.41, 0.83, 0.67) infinite;
}

@keyframes hover_add {
  to {
    transform: translateX(25%);
  }
}

@keyframes hover_remove {
  to {
    transform: translateX(-25%);
  }
}
